<!--
  @description       : 
  @author            : sdelatorre@omegacrmconsulting.com - with SFDoc
  @group             : 
  @last modified on  : 04-22-2022
  @last modified by  : sdelatorre@omegacrmconsulting.com - with SFDoc
-->
<template>
  <article class="slds-card">
    <div class="slds-card__header slds-grid">
      <header class="slds-media slds-media_center slds-has-flexi-truncate">
        <div class="slds-media__figure">
          <span class="slds-icon_container slds-icon-standard-account" title="account">
            <svg class="slds-icon slds-icon_small" aria-hidden="true">
              <use xlink:href="/_slds/icons/standard-sprite/svg/symbols.svg#account"></use>
            </svg>
            <span class="slds-assistive-text">account</span>
          </span>
        </div>
        <div class="slds-media__body">
          <h2 class="slds-card__header-title">
            <a href="#" class="slds-card__header-link slds-truncate" title="Session">
              <span>LWC Session</span>
            </a>
          </h2>
        </div>
        <div class="slds-no-flex">
          <button class="slds-button slds-button_neutral" onclick={getRecordList}>
            Reload
          </button>
        </div>
      </header>
    </div>
    <div class="slds-card__body slds-card__body_inner">
      <div class="slds-grid slds-wrap">
        <div class="slds-col slds-size_1-of-3">
          <!-- Filter -> "onselectedfilter" recoge el evento desde el hijo -> maFilters/handleChange -->
          <c-ma-filters label="Filters" onselectedfilter={setFilter}></c-ma-filters>  

        </div>
        <div class="slds-col slds-size_2-of-3">
          <!-- Contact Table -->
          <c-ma-record-table class="slds-border_top" label="Contacts" obj="Contact" name="Name" city="MailingCity" selected-area={selectedArea}></c-ma-record-table>
          <!-- Leads Table -->
          <c-ma-record-table class="slds-border_top" label="Leads" obj="Lead" name="Name" city="City" selected-area={selectedArea}></c-ma-record-table>
          <!-- Opportunities Table -->
          <c-ma-record-table class="slds-border_top" label="Opportunities" obj="Opportunity" name="Name" city="City__c" selected-area={selectedArea}></c-ma-record-table>
        </div>
      </div>
    </div>
    <footer class="slds-card__footer"></footer>
  </article>
</template>
