<!--
  @description  : 
  @author       : sdelatorre@omegacrmconsulting.com
-->
<template>
  <table
    class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped"
    aria-label="Example table of Opportunities with striped rows"
  >
    <thead>
      <tr class="slds-line-height_reset">
        <th class="" scope="col">
          <div class="slds-truncate" title="Nombre Tienda">Nombre Tienda</div>
        </th>
        <th class="" scope="col">
          <div class="slds-truncate" title="Acción">Acción</div>
        </th>
      </tr>
    </thead>
    <tbody>
      <template for:each={tiendas} for:item="tienda">
        <tr key={tienda.Id} class="slds-hint-parent">
          <td>{tienda.Name}</td>
          <td>
            <lightning-button
              label="Ver Localización"
              title="Brand action"
              variant="brand-outline"
              onclick={handleClick}
              data-tiendaid={tienda.Id}
              class="slds-m-left_x-small"
            ></lightning-button>
          </td>
        </tr>
      </template>
    </tbody>
  </table>
</template>
