<!--
  @description  : 
  @author       : sdelatorre@omegacrmconsulting.com
-->
<template>
  <lightning-combobox name="area" label="Filtros" options={picklistValues} onchange={handleChange}></lightning-combobox>
</template>