<!--
  @description       : 
  @author            : sdelatorre@omegacrmconsulting.com - with SFDoc
  @group             : 
  @last modified on  : 04-21-2022
  @last modified by  : sdelatorre@omegacrmconsulting.com - with SFDoc
-->
<template>
  <section
    role="dialog"
    tabindex="-1"
    aria-labelledby="modal-heading-01"
    aria-modal="true"
    class="slds-modal slds-fade-in-open"
  >
    <div class="slds-modal__container">
      <button
        class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse"
      >
        <svg
          class="slds-button__icon slds-button__icon_large"
          aria-hidden="true"
        >
          <use
            xlink:href="/_slds/icons/utility-sprite/svg/symbols.svg#close"
          ></use>
        </svg>
        <span class="slds-assistive-text">Cancel and close</span>
      </button>
      <div class="slds-modal__header">
        <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">
          Modal header
        </h1>
      </div>
      <div
        class="slds-modal__content slds-p-around_medium"
        id="modal-content-id-1"
      >
        <div class="slds-p-around_medium lgc-bg">
          <lightning-input
            type="text"
            label="Juego de mesa"
            onchange={handleInputChange}
            required
          ></lightning-input>
        </div>

        <div class="slds-p-around_medium lgc-bg">
          <lightning-input
            type="text"
            label="Editorial"
            onchange={handleInputChange}
            required
          ></lightning-input>
        </div>
        <div class="slds-form-element">
          <label
            class="slds-form-element__label"
            for="combobox-id-4"
            id="combobox-label-id-28"
            >Categoría</label
          >
          <div class="slds-form-element__control">
            <div class="slds-combobox_container slds-size_small">
              <div
                class="slds-combobox slds-dropdown-trigger slds-dropdown-trigger_click slds-is-open"
              >
                <div
                  class="slds-combobox__form-element slds-input-has-icon slds-input-has-icon_right"
                  role="none"
                >
                  <button
                    type="button"
                    class="slds-input_faux slds-combobox__input slds-has-focus slds-combobox__input-value"
                    aria-labelledby="combobox-label-id-28 combobox-id-4-selected-value"
                    id="combobox-id-4-selected-value"
                    aria-controls="listbox-id-4"
                    aria-expanded="true"
                    aria-haspopup="listbox"
                    aria-activedescendant="option1"
                  >
                    <span class="slds-truncate" id="combobox-value-id-34"
                      >Minis</span
                    >
                  </button>
                  <span
                    class="slds-icon_container slds-icon-utility-down slds-input__icon slds-input__icon_right"
                  >
                    <svg
                      class="slds-icon slds-icon slds-icon_x-small slds-icon-text-default"
                      aria-hidden="true"
                    >
                      <use
                        xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#down"
                      ></use>
                    </svg>
                  </span>
                </div>
                <div
                  id="listbox-id-4"
                  class="slds-dropdown slds-dropdown_length-5 slds-dropdown_fluid"
                  role="listbox"
                >
                  <ul
                    class="slds-listbox slds-listbox_vertical"
                    role="presentation"
                  >
                    <li role="presentation" class="slds-listbox__item">
                      <div
                        aria-checked="true"
                        id="option1"
                        class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small slds-is-selected"
                        role="option"
                      >
                        <span
                          class="slds-media__figure slds-listbox__option-icon"
                        >
                          <span
                            class="slds-icon_container slds-icon-utility-check slds-current-color"
                          >
                            <svg
                              class="slds-icon slds-icon_x-small"
                              aria-hidden="true"
                            >
                              <use
                                xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#check"
                              ></use>
                            </svg>
                          </span>
                        </span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Option A"
                            >Minis</span
                          >
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div
                        id="option2"
                        class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                        role="option"
                      >
                        <span
                          class="slds-media__figure slds-listbox__option-icon"
                        ></span>
                        <span class="slds-media__body">
                          <span class="slds-truncate" title="Option B"
                            >Cartas</span
                          >
                        </span>
                      </div>
                    </li>
                    <li role="presentation" class="slds-listbox__item">
                      <div
                        id="option3"
                        class="slds-media slds-listbox__option slds-listbox__option_plain slds-media_small"
                        role="option"
                      >
                        <span
                          class="slds-media__figure slds-listbox__option-icon"
                        ></span>
                        <span class="slds-media__body">
                          <span
                            class="slds-truncate"
                            title="Option ABCDEFGHIJKLMNOPQRSTUVWXYZ"
                            >Tableros</span
                          >
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- <div class="slds-p-around_medium lgc-bg">
                    <lightning-input type="text" label="Categoría" onchange={handleInputChange} required></lightning-input>
                </div> -->
      </div>
      <div class="slds-modal__footer">
        <button
          class="slds-button slds-button_neutral"
          aria-label="Cancel and close"
        >
          Cancel
        </button>
        <button class="slds-button slds-button_brand">Save</button>
      </div>
    </div>
  </section>
  <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>
</template>
