<!--
  @description  : 
  @author       : sdelatorre@omegacrmconsulting.com
  Errores => No me renderiza los mismos numeros de juegos en el back que en el front
          => No se ordena la lista del frontend por nota o nombre falta function ordenar
          => El modal no da la info del utimo juego de la lista del backend
-->

<template>
    <div class="slds-card-wrapper slds-text-align_center slds-var-m-bottom_x-large">
        <lightning-card title={title} icon-name="custom:custom16">
            <!-- Renderiza la lista de Contactos -->
            <div class="slds-card slds-align_absolute-center">
                <div class="slds-col slds-size_2-of-3">
                    <ul class="slds-has-dividers_around-space slds-var-m-left_large">
                        <template for:each={contacts} for:item="contact">
                            <li key={contact.Id} class="slds-item test-color">
                                {contact.Name}
                            </li>
                        </template>
                    </ul>
                </div>
            </div>

            <!-- Renderiza la lista de juegos de mesa haciendo un ranking en el Backend -->
            <lightning-card title="Ranking Juegos Backend" class="slds-card-wrapper slds-var-m-bottom_x-large"
                icon-name="custom:custom1">
                <table
                    class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-table_col-bordered"
                    aria-label="Tabla del ranking de los Juegos de mesa en el Frontend">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th scope="col">
                                <div class="slds-truncate" title="Juegos de mesa">
                                    Juegos de mesa
                                </div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Nota">Nota</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={rankingBoardgameBack} for:item="boardgame">
                            <tr key={boardgame.Id} class="slds-hint-parent">
                                <th data-label="Juegos de mesa" scope="row">
                                    {boardgame.Name}
                                </th>
                                <td data-label="Nota">{boardgame.Nota__c}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </lightning-card>

            <!-- Renderiza la lista de juegos de mesa haciendo un ranking en el Frontend -->
            <lightning-card title="Ranking Juegos Frontend" class="slds-card-wrapper slds-m-bottom_x-large"
                icon-name="custom:custom11">
                <table
                    class="slds-table slds-table_cell-buffer slds-table_bordered slds-table_striped slds-table_col-bordered"
                    aria-label="Tabla del ranking de los Juegos de mesa en el Frontend">
                    <thead>
                        <tr class="slds-line-height_reset">
                            <th scope="col">
                                <div class="slds-truncate" title="Juegos de mesa">
                                    Juegos de mesa
                                </div>
                            </th>
                            <th scope="col">
                                <div class="slds-truncate" title="Nota">Nota</div>
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        <template for:each={rankingBoardgameFront} for:item="boardgame">
                            <tr key={boardgame.Id} class="slds-hint-parent">
                                <td data-label="Juegos de mesa" scope="row">
                                    {boardgame.Name}
                                </td>
                                <td data-label="Nota">{boardgame.Nota__c}</td>
                            </tr>
                        </template>
                    </tbody>
                </table>
            </lightning-card>

            <!-- ########## Botones  ########## -->
            <div>
                <!-- Botón que lanza un toast con la info del primer elemento de la lista de juegos -->
                <div class="slds-var-m-around_medium">
                    <button class="slds-button slds-button_brand" onclick={showToastBoardgame}>
                        Info. del Primer Juego
                    </button>
                </div>

                <!-- Botón que abre y cierra un modal con la info del último juego de la lista -->
                <div class="slds-var-m-around_medium">
                    <button class="slds-button slds-button_brand" onclick={showModalBoardgame}>
                        Info. del Último Juego
                    </button>
                </div>
            </div>

            <!-- ########## Modal ########## -->
            <template if:true={showModal}>
                <section role="dialog" tabindex="-1" aria-labelledby="modal-heading-01" aria-modal="true"
                    class="slds-modal slds-fade-in-open">
                    <div class="slds-modal__container">
                        <button class="slds-button slds-button_icon slds-modal__close slds-button_icon-inverse">
                            <svg class="slds-button__icon slds-button__icon_large" aria-hidden="true">
                                <use xlink:href="/assets/icons/utility-sprite/svg/symbols.svg#close"></use>
                            </svg>
                            <span class="slds-assistive-text">Cancel and close</span>
                        </button>
                        <div class="slds-modal__header">
                            <h1 id="modal-heading-01" class="slds-modal__title slds-hyphenate">{modalTitle}</h1>
                        </div>
                        <div class="slds-modal__content slds-p-around_medium" id="modal-content-id-1">
                            <p>{modalInfo}</p>
                        </div>
                        <div class="slds-modal__footer">
                            <button class="slds-button slds-button_neutral slds-align_absolute-center"
                                aria-label="Cancel and close" onclick={hideModalBoardgame}>Cancel</button>
                        </div>
                    </div>
                </section>
                <div class="slds-backdrop slds-backdrop_open" role="presentation"></div>

            </template>

        </lightning-card>
    </div>
</template>