 <!--
  @description       : 
  @author            : sdelatorre@omegacrmconsulting.com - with SFDoc
  @group             : 
  @last modified on  : 04-22-2022
  @last modified by  : sdelatorre@omegacrmconsulting.com - with SFDoc
-->
<template>
  <h2 class="slds-text-heading_medium slds-m-top_medium">{label} ({recordsSize})</h2>
  <template if:false={recordsEmpty}>
    <table class="slds-table slds-table_cell-buffer slds-table_bordered"
      aria-labelledby="element-with-table-label other-element-with-table-label">
      <thead>
        <tr class="slds-line-height_reset">
          <th class="" scope="col">
            <div class="slds-truncate" title="Name">Name</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="City">City</div>
          </th>
          <th class="" scope="col">
            <div class="slds-truncate" title="Area">Area</div>
          </th>
        </tr>
      </thead>
      <tbody>
        <template for:each={recordList} for:item="record">
          <tr key={record.id} class="slds-hint-parent">
            <td>{record.name}</td>
            <td>{record.city}</td>
            <td>{record.area}</td>
          </tr>
        </template>
      </tbody>
    </table>
  </template>
</template>
