<!--
  @description  : 
  @author       : sdelatorre@omegacrmconsulting.com
-->
<template>
  <template for:each={fields} for:item="field">
    <lightning-input
      key={field.fieldApiName}
      label={field.label}
      data-field={field.fieldApiName}
      onchange={setFieldValue}
      class={field.class}
    >
    <!-- disabled={field.disabled} -->
    </lightning-input>
  </template>
  <lightning-button
    variant="brand"
    label="Create Tienda"
    onclick={createTiendaJs}
  ></lightning-button>
</template>
